{% extends 'basic/base.html' %}

{% block content_nav_home %}统计查询{% endblock %}
{% block content_nav %}
    <li>订单统计</li>
    <a href="/order_status/" style="float: right; margin-top: -7.2px;height: 35px" class="btn btn-success" >刷新</a>

{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped text-center bg-info">
        <thead>
         <tbody>
            <div>
                <div id="main1" class="canvas" style="height: 380px;width: 500px;">
                    <canvas id="canvas1"></canvas>
{#                    <p style="text-align: center;font-size: 18px;border-radius: 8px 8px 8px 8px;height:20px;width: 400px; margin-left: -16px;">日统计</p>#}
                </div>
                <div id="main2" class="canvas" style="height: 380px;width: 500px;">
                    <canvas id="canvas1"></canvas>
{#                    <p style="text-align: center;font-size: 18px;background-color: pink;border-radius: 8px 8px 8px 8px;width: 490px; margin-left: -16px">周统计</p>#}
                </div>
                <div id="main3" class="canvas" style="height: 380px;width: 500px">
                    <canvas id="canvas1"></canvas>
{#                    <p style="text-align: center;font-size: 18px;background-color: pink;border-radius: 8px 8px 8px 8px;width: 490px; margin-left: -16px">月统计</p>#}
                </div>
                <div id="main4" class="canvas" style="height: 380px;width: 500px">
                    <canvas id="canvas1"></canvas>
{#                    <p style="text-align: center;font-size: 18px;background-color: pink;border-radius: 8px 8px 8px 8px;width: 490px; margin-left: -16px">年统计</p>#}
                </div>
            </div>
        </tbody>
        </thead>
    </table>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart1 = echarts.init(document.getElementById('main1'));

        // 指定图表的配置项和数据
        var option1 = {
            title:{
                text:'日统计',
                left:'200px'

            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                name:'时',
                data: ['0', '4', '8', '12', '16', '20', '24']
            },
            yAxis: {
                type: 'value',
                name:'订单量',
            },
            series: [{
                data: [50, 30, 86, 153, 290, 330, 150],
                type: 'line',
                areaStyle: {
                    color:'yellow'
                },
                color:'coral'
            }],
            toolbox: {
            show: true,
            orient: 'vertical',
            left: 'right',
            top: 'center',
            feature: {
                mark: {show: true},
                {#dataView: {show: true, readOnly: false},#}
                magicType: {show: true, type: ['line', 'bar',]},
                restore: {show: true},
            }
            },
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart1.setOption(option1);


        var myChart2 = echarts.init(document.getElementById('main2'));
        var option2 = {
            title:{
                text:'周统计',
                left:'200px'
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                name:'天',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
            },
            yAxis: {
                type: 'value',
                name:'订单量',
            },
            series: [{
                data: [375, 450, 401, 334, 290, 330, 320],
                type: 'line',
                areaStyle: {
                    color:'pink'
                },
                color:'purple'
            }],
            toolbox: {
            show: true,
            orient: 'vertical',
            left: 'right',
            top: 'center',
            feature: {
                mark: {show: true},
                {#dataView: {show: true, readOnly: false},#}
                magicType: {show: true, type: ['line', 'bar',]},
                restore: {show: true},
            }
            },


        };
        myChart2.setOption(option2);

        var myChart3 = echarts.init(document.getElementById('main3'));
        var option3 = {
            title:{
                text:'月统计',
                left:'200px'
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                name:'月',
                data: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul','Aug','Sep','Oct','Nov','Dec']
            },
            yAxis: {
                type: 'value',
                name:'订单量',
            },
            series: [{
                data: [820, 932, 901, 934, 1290, 1330, 1320,557,988,877,1212,1400],
                type: 'line',
                areaStyle: {
                    color:'green'
                },
                color:'blue'
            }],
            toolbox: {
            show: true,
            orient: 'vertical',
            left: 'right',
            top: 'center',
            feature: {
                mark: {show: true},
                {#dataView: {show: true, readOnly: false},#}
                magicType: {show: true, type: ['line', 'bar',]},
                restore: {show: true},
            }
            },
        };
        myChart3.setOption(option3);

        var myChart4 = echarts.init(document.getElementById('main4'));
        option4 = {
            title:{
                text:'年统计',
                left:'200px',

            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                name:'年',
                data: ['2016', '2017', '2018', '2019', '2020', '2021', '2022','2023']
            },
            yAxis: {
                type: 'value',
                name:'订单量',
            },
            series: [{
                data: [3000, 2932, 2901, 2934, 2290, 3330, 2320,2822],
                type: 'line',
                areaStyle: {
                    color:'pewter'
                },
                color:'orange'
            }],
            toolbox: {
            show: true,
            orient: 'vertical',
            left: 'right',
            top: 'center',
            feature: {
                mark: {show: true},
                {#dataView: {show: true, readOnly: false},#}
                magicType: {show: true, type: ['line', 'bar',]},
                restore: {show: true},
            }
            },
        };
        myChart4.setOption(option4);


    </script>

{% endblock %}


