{% extends 'basic/base.html' %}

{% block content_nav_home %}数据库管理{% endblock %}
{% block content_nav %}
    <li>数据表管理</li>
    <li>{{ table }}</li>
{% endblock %}
{% block content %}
    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#add1" style="margin: 5px 0">添加</a>
    <table  id="center_table" class="table table-bordered table-striped text-center bg-info" >
        <thead>
        <tr class="info">
            {% for item in items2 %}
                <th class="text-center">{{ item.0 }}</th>
            {% endfor %}
            <th class="text-center" width="200px">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items1 %}
            <tr>
                {% for sub in item %}
                    {{ sub|to_str|to_img_tag }}
                {% endfor %}
                <td>
                    <a href="#" class="btn btn-info btn-sm" data-toggle="modal" onclick="edit({{ items_list }},{{ item.0 }})">编辑</a>
                    <a onclick="delete_goods({{ item.0 }},'{{ items2.0.0 }}')" class="btn btn-danger btn-sm">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!--添加-->
    <div class="modal fade" id="add1" tabindex="-1" role="dialog" aria-labelledby="add11">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">添加</h4>
                </div>
                <form action="/product/?table={{ table }}&flag=1" method="post">
                    <div class="modal-body">
                        <ul>
                            {% for items in items2 %}
{#                                {% if forloop.first %}#}
{#                                     <li>#}
{#                                    <label><span>{{ items.0 }}：</span></label>#}
{#                                    <input type="text" name="{{ items.0 }}" disabled/>#}
{#                                    </li>#}
{#                                {% endif %}#}
                                {% if not forloop.first %}
                                    <li>
                                    <label><span>{{ items.0 }}：</span></label>
                                    <input type="text" name="{{ items.0 }}"/>
                                    </li>
                                {% endif %}
                            {% endfor %}

                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary btn-sm">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--编辑-->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="add11">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">编辑</h4>
                </div>
                <form action="/product/?table={{ table }}&flag=0" method="post">
                    <div class="modal-body">
                        <ul>
                            {% for item in  items2 %}
                                <li>
                                <label><span>{{ item.0 }}：</span></label>
                                <input id="{{ item.0 }}" type="text" name="{{ item.0 }}"/>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary btn-sm">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- 提示 -->
    <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="add11">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add11">提示信息</h4>
                </div>

                <div class="modal-body">

                    <h4 id="msg"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                    <button onclick="delete_ajax()" class="btn btn-warning btn-sm">确定</button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}




{% block js %}
    {# 编辑 #}
    <script>
        function edit(items_list,id) {
            console.log(items_list,id);
            for(i in items_list){
                console.log(items_list[i][0][1]);
                if(items_list[i][0][1]==id){
                    for(j in items_list[i]){
                        console.log();
                       $("#"+items_list[i][j][0]).val(items_list[i][j][1]);
                    }
                }
            }
            $('#edit').modal('show');
        }

        {# 删除 #}

        var d_id = 0;
        var str_id = "";
        function delete_goods(id,st){

            d_id =id;
            str_id = st;
            console.log(id,str_id)
            $('#msg').html('是否删除 ID为'+d_id +" 的行?");
            $('#info').modal('toggle');
        }
        function delete_ajax() {
            console.log(window.location.href);
            url = window.location.href + "&d_id="+d_id+"&str_id="+str_id ;
            fetch(url, {
                method: 'DELETE'
            }).then(resp => resp.json()).then(data => {
                alert(data.msg);
                if (data.status == 0) {
                    // 刷新当前页面
                    open(window.location.href, target = '_self');
                }
            })
        }
    </script>
{% endblock %}